.git
_trial_temp
_trial_coverage
.coverage
dropin.cache
htmldoc
_build
_builddoc
.self.txt
otter-deploy*
*.egg-info
.ve
build
test-report.xml
subunit-output.txt
.cloudcafe
.cloudcafe/*
*.project
*.pydev*
.DS_Store
_trial_temp.lock
