*.pyc
_trial_temp
_trial_coverage
.coverage
dropin.cache
htmldoc
_builddoc
.self.txt
otter-deploy*
schema/setup-*.cql
schema/teardown-*.cql
*.egg-info
.ve
build
test-report.xml
subunit-output.txt
.cloudcafe
.cloudcafe/*
*.project
*.pydev*
.DS_Store
docbook/target
.tox
_coverage_html
coverage.xml
