# ============================================================
# cloudcafe.config
# Use this template configuration file to run against the env
# ============================================================

[marshalling]
serializer=json
deserializer=json

[user]
base_url=IDENTITY_ROOT/identity
username=fake_user_000000
password=fake_password
tenant_name=000000
version=2.0

[user_auth_config]
strategy=keystone
endpoint=IDENTITY_ROOT/identity

[autoscale]
tenant_id=000000
gc_name=test_sgroup
gc_cooldown=360
gc_min_entities=0
gc_min_entities_alt=1
gc_max_entities=3
lc_name=autoscale_server
lc_flavor_ref=performance1-1
lc_image_ref=22b7790b-a629-4a3a-b557-1039dad513ad
lc_image_ref_alt=1a9b50b1-0413-487a-b364-c82a9b939efb
sp_name=scaling_policy_test
sp_cooldown=600
sp_change=1
sp_change_percent=100
sp_desired_capacity=2
sp_policy_type=webhook
upd_sp_change=5
wb_name=test_webhook
lc_load_balancers=[{loadBalancerId: 9099, port: 8080}]
sp_list="[{"name": "scale up by 10", "change": 10, "cooldown": 5}]"
mimic=true
environment=dev
convergence=true

#maas policies
check_type = remote.ping
check_url = http://www.rackspace.com
check_method = GET
monitoring_zones = mzord
check_timeout = 10
check_period = 100
alarm_criteria = test
target_alias = default
#networks
lc_uuid=11111111-1111-1111-1111-111111111111
lc_uuid2=00000000-0000-0000-0000-000000000000
interval_time=3
timeout=6000

# Non autoscale account information
non_autoscale_username = fake_user_999999
non_autoscale_password = fake_password
non_autoscale_tenant = 

# Rbac users
autoscale_na_la_aa = fake_user_000000-na-la-aa
autoscale_na_lo_aa = fake_user_000000-na-lo-aa
autoscale_no_lo_aa = fake_user_000000-no-lo-aa
autoscale_no_lo_ao = fake_user_000000-no-lo-ao
autoscale_na_la_ao = fake_user_000000-na-la-ao
autoscale_nc_lc_aa = fake_user_000000-nc-lc-aa
autoscale_nc_lc_ao = fake_user_000000-nc-lc-ao
autoscale_na_la_ano = fake_user_000000-na-la-ano
autoscale_nno_lno_ao = fake_user_000000-nno-lno-ao
autoscale_nno_lno_aa = fake_user_000000-nno-lno-aa

# Getting endpoints out of identity
region=ord
autoscale_endpoint_name=autoscale
server_endpoint_name= cloudServersOpenStack
server_endpoint= OTTER_ROOT/v1.0
load_balancer_endpoint_name=cloudLoadBalancers
rcv3_endpoint_name=rackconnect
rcv3_load_balancer_pool={"type": "mimic"}
rcv3_cloud_network=07426958-1ebf-4c38-b032-d456820ca21a
