pep257==0.2.0
pep8==1.3.3
pyflakes==0.5.0
plumbum==0.9.0
mock==1.0.1
coverage==3.5.3
docutils==0.9.1
sphinx==1.1.3
repoze.sphinx.autointerface==0.7.1
terrarium==1.0.0rc2
python-subunit==0.0.8
junitxml==0.7
paramiko==1.10.0
requests==1.2.0
decorator==3.4.0
unittest2==0.5.1
git+https://github.com/stackforge/opencafe.git@b971070b28d07c0b19f8809e18950f2d6cf0e466#egg=opencafe
git+https://github.com/stackforge/cloudcafe.git@4dc2227b4b0140158ceab286dfa127384886f5b7#egg=cloudcafe
IPy==0.81
