pep257==0.2.0
pep8==1.3.3
pyflakes==0.5.0
plumbum==0.9.0
mock==0.9
coverage==3.5.3
docutils==0.7
sphinx==1.1.3
repoze.sphinx.autointerface==0.7.1
terrarium==1.0.0rc2
python-subunit==0.0.8
junitxml==0.7
