# Lint
flake8==2.3.0
flake8-blind-except==0.1.0
flake8-debugger==1.3.2
flake8-import-order==0.5.3
flake8-print==1.5.0
coverage==3.7.1

# Docs
sphinx==1.2.3
repoze.sphinx.autointerface==0.7.1

# Tests
python-subunit==1.1.0
junitxml==0.7
mock==1.0.1
yunomi==0.3.0

# Debugging niceties
ipython==2.3.1
pudb==2014.1
