version: '2'
services: 
    otter: 
        build: .
        ports:
            - "9000:9000"
        depends_on:
            - mimic
            - db
            - zk
        environment:
            IDENTITY_URL: "http://mimic:8900/identity/v2.0"
            CASS_HOSTS: "tcp:db:9160"
            ZK_HOSTS: "zk:2181"
            URL_ROOT: "http://otter:9000"
            BOOTSTRAP: "yes"
        volumes:
            - .:/otterapp
    db:
        image: cassandra:2.1
    zk:
        image: zookeeper:latest
        ports:
            - "2181:2181"
    mimic: 
        build: mimic/
    cafe:
        build:
            dockerfile: cafe_Dockerfile
            context: .
        environment:
            - OTTER_ROOT=http://otter:9000
            - IDENTITY_ROOT=http://mimic:8900
            - WAIT=yes
        volumes:
            - .:/cafe
        command:
            dev-convergence -p functional
        depends_on:
            - otter
            - mimic
    trial:
        image: otter
        environment:
            - AS_USERNAME=jenkins_user
            - AS_PASSWORD=jenkins_password
            - AS_IDENTITY=http://mimic:8900/identity/v2.0
            - AS_FLAVOR_REF=2
            - AS_REGION=ORD
            - AS_CONVERGENCE_TENANT=000001
            - AS_CONVERGENCE_TENANT_FOR_AUTH_ERRORS=000010
            - AS_AUTOSCALE_LOCAL_URL=http://otter:9000/v1.0/{0}
            - AS_NOVA_SC_KEY=cloudServersOpenStack
            - AS_CLB_SC_KEY=cloudLoadBalancers
            - AS_USING_MIMIC=yes
            - AS_SELFHEAL_INTERVAL=20
        command:
            dockerize -timeout 60s -wait http://otter:9000/health -wait http://mimic:8900
                trial -j10 otter.integration.tests
        depends_on:
            - otter
            - mimic
