klein==14.0.0
twisted==14.0.2
service_identity==14.0.0
jsonschema==2.4.0
iso8601==0.1.8
lxml==3.4.1
treq==0.2.1
silverberg==0.1.9
pyOpenSSL==0.13
jsonfig==0.1.1
testtools==0.9.32
croniter==0.3.5
txkazoo==0.0.5
effect==0.1a11
characteristic==14.3.0
toolz==0.7.1
pyrsistent==0.7.0
