klein==15.0.0
twisted==22.2.0
service_identity==14.0.0
jsonschema==2.4.0
iso8601==0.1.8
lxml==3.6.4
treq==15.1.0
silverberg==0.1.12
pyOpenSSL==0.14
jsonfig==0.1.1
testtools==1.9.0
croniter==0.3.5
txkazoo==0.0.6b2
kazoo==2.2.1
effect==0.11.0
txeffect==0.9
characteristic==14.3.0
attrs==16.2.0
toolz==0.7.4
pyrsistent==0.11.10
singledispatch==3.4.0.3
six==1.9.0
sumtypes==0.1a4
thimble==0.2.0
