flake8
pep257
plumbum
nose
nose-ignore-docstring
openstack.nose_plugin
coverage
twisted==13.0
mock
treq
iso8601
silverberg
jsonschema
testtools
croniter
klein
jsonfig
yunomi
lxml
https://launchpad.net/txgraylog2/trunk/0.11/+download/txgraylog2-0.11.tar.gz
