
  <div class="toctree-wrapper compound">
<ul class="simple">
</ul>
</div>


      </div>
<div class="clearer"></div>
</div>
    </div>
    <div class="col-md-3 col-md-pull-9 sidebar">
<ul>
  <li><a href="/" class="back">&laquo; Developer Home</a></li>
</ul>
<ul>
  {% if next %}
<a href="{{ prev.link|e }}"><<</a>
{% endif %}
|
{% if prev %}
<a href="{{ next.link|e }}">>></a>
{% endif %}
  <li><span class="sidebarheader">Contents</span></li>
</ul>
{{ toctree() }}

      <div class="callout">
  <span class="sidebarheader">Need Help?</span>

  <p>
    E-mail <a href="mailto:sdk-support@rackspace.com">sdk-support@rackspace.com</a>,<br>
    tweet <a href="https://twitter.com/rackspace">@rackspace</a>,
    chat with us in #rackspace on Freenode,
    or post in <a href="https://community.rackspace.com/developers/default">our developer forum</a>.
  </p>
</div>

<div class="callout">
  <span class="sidebarheader">Found a bug? Caught a typo?</span>
  <p>File a <a href="https://github.com/rackerlabs/developer.rackspace.com/issues/new">bug report</a> or submit a <a target="blank" href="https://github.com/rackerlabs/developer.rackspace.com">pull request</a> on our developer site Github repo.</p>
</div>

<div class="callout">
  <span class="sidebarheader">Want To Stay Up To Date?</span>
  <p>Subscribe to our developer blog <a href="/atom.xml">RSS</a> feed.</p>
</div>
    </div>
  </div>
</div>