.highlight,
.highlight-python,
.highlight-sh {
  display: block; !important;}
  
.admonition {
  background: #eee;
  border-left: 4px solid;
  border-radius: 4px;
  padding: 20px;
  margin: 30px 0; }

.admonition h3 {
  font-size: 18px;
  font-weight: 600; }

.admonition h3 i {
  margin-right: 5px;
  font-size: 22px; }

.admonition.note {
  background: #edf2f7;
  border-color: #2A4E68;
  color: #2A4E68; }

.admonition.note a {
  color: #2A4E68; }

.admonition.important {
  background: #FEFFBE;
  border-color: #D7AA16;
  color: #D7AA16; }

.admonition.important a {
  color: #e8be15; }

.admonition.important h3 {
  color: #e8be15; }

.admonition.important h3 i {
  color: #e8be15; }

.admonition.warning {
  background: #f1e1e1;
  border-color: #9f4848;
  color: #9f4848; }

.admonition.warning h3 {
  color: #DA422F; }

.admonition.warning h3 i {
  color: #DA422F; }

.admonition.warning a {
  color: #DA422F; }

.admonition-title {
  font-weight: 600;
}