# ==========================================================
# preprod.config
# Use this configuration file to run against the Preprod env
# ==========================================================

[marshalling]
serializer=json
deserializer=json

[user]
base_url=https://identity.api.rackspacecloud.com
username=autoscalepreprod
password=%user_password%
tenant_name=849349
api_key=%user_api_key%
version=2.0

[user_auth_config]
strategy=keystone
endpoint=https://identity.api.rackspacecloud.com

[autoscale]
tenant_id=849349
gc_name=test_sgroup
gc_cooldown=360
gc_min_entities=0
gc_min_entities_alt=1
gc_max_entities=3
lc_name=autoscale_server
lc_flavor_ref=2
lc_image_ref=0d589460-f177-4b0f-81c1-8ab8903ac7d8
lc_image_ref_alt=92ac9889-2ede-4633-ab39-25560436d83a
sp_name=scaling_policy_test
sp_cooldown=600
sp_change=1
sp_change_percent=100
sp_desired_capacity=2
sp_policy_type=webhook
upd_sp_change=5
wb_name=test_webhook
lc_load_balancers=[{loadBalancerId: 9099, port: 8080}]
sp_list="[{"name": "scale up by 10", "change": 10, "cooldown": 5}]"
#networks
lc_uuid=11111111-1111-1111-1111-111111111111
lc_uuid2=00000000-0000-0000-0000-000000000000
interval_time=30
timeout=6000
#load balancers
load_balancer_1 = 167003
load_balancer_2 = 172365
load_balancer_3 = 172369
lb_other_region = 167295
# Non autoscale account information
non_autoscale_username = bill2test27
non_autoscale_password = %non_autoscale_user_password%
non_autoscale_tenant = 731642

region=ord
autoscale_endpoint_name=autoscale
server_endpoint_name=cloudServersOpenStack
server_endpoint=http://%otter_ip%:9000/v1.0
load_balancer_endpoint_name=cloudLoadBalancers
