# ======================================================
# dev.config
# Use this configuration file to run against the Dev env
# ======================================================

[marshalling]
serializer=json
deserializer=json

[user]
base_url=https://identity.api.rackspacecloud.com
username=username_goes_here
password=password_goes_here
tenant_name=tenant_goes_here
api_key=api_key_goes_here
version=2.0

[user_auth_config]
strategy=keystone
endpoint=https://identity.api.rackspacecloud.com

[autoscale]
tenant_id=tenant_goes_here
gc_name=test_sgroup
gc_cooldown=360
gc_min_entities=0
gc_min_entities_alt=3
gc_max_entities=3
lc_name=autoscale_server
lc_flavor_ref=3
lc_image_ref=image_id_goes_here
lc_image_ref_alt=alt_image_id_goes_here
sp_name=scaling_policy_test
sp_cooldown=600
sp_change=2
sp_change_percent=100
sp_desired_capacity=2
sp_policy_type=webhook
upd_sp_change=5
wb_name=test_webhook
lc_load_balancers=[{loadBalancerId: 9099, port: 8080}]
sp_list="[{"name": "scale up by 10", "change": 10, "cooldown": 5}]"
#networks
lc_uuid=11111111-1111-1111-1111-111111111111
lc_uuid2=00000000-0000-0000-0000-000000000000
interval_time=5
timeout=30

region=ord
autoscale_endpoint_name=endpoint_in_service_catalog
server_endpoint_name=endpoint_in_service_catalog_server
server_endpoint=local_otter_endpoint
